@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Poppins', sans-serif !important;
}

.dark body{
  background-color: #b8d0de;
}

body{
  height: 100vh;
  overflow-y: hidden;
  display: block;
}

body::-webkit-scrollbar {
  display: none;  /* Ẩn scrollbar */
}